.demo-table {
  width: 100%;
}
mat-form-field {
  font-size: 14px;
  display: block;
}
.table-container {
  padding: 0 20px 20px 20px;
}
.demo-row-is-clicked {
  font-weight: bold;
}
.space-between{
  justify-content: space-between;
}
.filter-container {
  margin-bottom: 40px;
}
.flex-container {
  display: flex;
  align-items: center;
}