.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .info {
    width: calc(100% / 2);
    margin-bottom: 10px;
    .label {
      font-size: 14px;
      font-weight: bold;
      margin-right: 10px;
    }
    .value {
      font-size: 14px;
    }
  }
}
.info {
  //width: calc(100% / 2);
  margin-bottom: 5px;
  .label {
    font-size: 14px;
    margin-right: 5px;
  }
  .value {
    font-size: 14px;
    font-weight: bold;
  }
  h2{
    font-weight: bold;
    font-size: 40px ;
  }
}
.space-between {
  justify-content: space-between;
}
