<div class="header pb-8  pt-6">
  <div class="container-fluid">
    <div class="header-body"></div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="">
            <!--flex-container removed from class-->
            <!--Name-->
            <div class="info">
              <h2>{{ customer?.firstName}} {{customer?.lastName }}</h2>
            </div>
            <!---User Information-->
              <!--Unique ID-->
              <div class="info">
                <span class="label">Patient Id: </span>
                <span class="value">{{ customer?.customerId }}</span>
              </div>
              <!--Email-->
              <div class="info">
                <span class="label">Email: </span>
                <span class="value">{{ customer?.email }}</span>
              </div>
              <!--Age-->
              <div class="info">
                <span class="label">DOB: </span>
                <span class="value">{{ customer?.dob }}</span>
              </div>
              <!--Gender-->
              <div class="info">
                <span class="label">Active: </span>
                <span class="value">{{ customer?.is_enabled ? 'Yes' : 'No' }}</span>
              </div>
          </div>

          <button class="prpl text-white mb-3" mat-raised-button color="" (click)="editCustomer()">
            Edit Patient
          </button>
          <button class="prpl text-white ml-2" mat-raised-button color="" (click)="getStatistic()">
            Add Event
          </button>
          <!--Used flex to set 2 buttons // Removed and adjusted-->
          <div class="flex-container space-between">
            <button *ngIf="user.role != 'cs'" mat-raised-button (click)="exportCSV()" color="" class="text-white rd">
              Export Events and Patient Data
            </button> 
          </div>
        </div>
        <div class="event-list">
          <app-table
            [canEdit]="canEdit"
            [dataSource]="events"
            [columns]="columns"
            (onEdit)="editEvent($event)"
          ></app-table>
        </div>
      </div>
    </div>
  </div>
</div>