<div class="header pb-8 pt-6 ">
  <div class="row">
    <div class="col-10">
      <h2 class="ml-5">Admins Management</h2>
    </div>
    <div class="col-7">
      <button mat-raised-button (click)="openAddUser()" color="" class=" ml-6 text-white" [ngStyle]="{
              'background-color': '#914099'
            }">
        + New Admin
      </button>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- <div class="card-header border-0">
          <h2 class="mb-3">Admin Management</h2>
          <button
            class="mr-3 text-white"
            [ngStyle]="{ 'background-color': '#fdb713' }"
            mat-raised-button
            color=""
            (click)="openAddUser()"
          >
            + New Admin
          </button>
          <button
            mat-raised-button
            (click)="exportCSV()"
            color=""
            class="text-white"
            [ngStyle]="{ 'background-color': '#fdb713' }"
          >
            Export Admins
          </button> -->
      </div> 
      <div class="invoice-list">
        <app-table [canEdit]="canEdit"  [canDelete]="canDelete"  [canEnable]="canEnable" [dataSource]="userArray" [columns]="columns"
          (onEdit)="editUser($event)" (onEnableDisable)="enableDisableUser($event)"></app-table>
      </div>
    </div>
  </div>
</div>