<h2>{{ data && data.id ? "Edit Event Record" : "Add Event Record" }}</h2>
<form
  class="complaint-form"
  [formGroup]="eventForm"
  (ngSubmit)="submitEvent()"
  #f="ngForm"
>
<div class="form-group mb-3">
  <h6>Customer Name:</h6>
  <div class="input-group input-group-alternative">
    <input
      [readonly]="data && data.customerName"
      class="form-control"
      placeholder="Customer name"
      formControlName="customerName"
      type="text"
    />
  </div>
 
</div>
  <div class="form-group mb-3">
    <h4>Device Name:</h4>
    <div class="input-group input-group-alternative">
      <mat-select [formControl]="deviceId" placeholder="Device Name" [ngStyle]="{ height: '40px' }">
        <mat-option *ngFor="let elt of device_array_of_devices" [value]="elt">{{
          elt.name
          }}</mat-option>
      </mat-select>
    </div>
 
  </div>
  <div class="row ">
    <div class="col-3">
      <div class="form-group mb-3">
        <h4>Heart Rate (BPM):</h4>
        <div class="input-group input-group-alternative">
          <input class="form-control" placeholder="Heart Rate (BPM)" formControlName="heartRate" type="number" />
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="form-group mb-3">
        <h4>Type:</h4>
        <div class="input-group input-group-alternative">
          <input class="form-control" placeholder="Type" formControlName="type" type="string" />
        </div>
      
      </div>
    </div>
  </div>
  <button mat-raised-button type="submit" color="primary">
    {{ data && data.id ? "Edit Event Record" : "Add Event Record" }}
  </button>
</form>