<div
  class="header pb-8 pt-6 ">
  <!-- [ngStyle]="{
    'background-color': '#914099'
  }"
>
  <div class="container-fluid">
    <div class="header-body"></div>
  </div> -->
  <div class="row">
    <div class ="col-10">
      <h2 class="ml-5">Events List</h2></div>
      <div class="col-7">
  <button
  *ngIf="user.role != 'cs'"
            mat-raised-button
            (click)="exportCSV2()"
            color=""
            class=" ml-6 text-white"
            [ngStyle]="{
              'background-color': '#914099'
            }"
          >
            Export Events
          </button>

          <button
          *ngIf="user.isSuperAdmin == true"
          mat-raised-button
          (click)="deleteAllEvents()"
          color=""
          class=" ml-6 text-white"
          [ngStyle]="{
            'background-color': '#914099'
          }"
        >
          Delete all Events
        </button>
</div>
</div>
</div>

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="mt-4">

            <div class="row">
          
              <div class="form-inline mr-3">
              
                <label for="minDate" class="text-black mb-3 ml-3"
                  >Study Start date:
                </label>
                <div class="input-group input-group-alternative mb-3 ml-3">
                  <input
                    class="form-control"
                    placeholder="Start Date"
                    [(ngModel)]="startDate"
                    type="datetime-local"
                  />
                </div>

                <!--End Date Picker-->

                <label for="maxDate" class="text-black mb-3 ml-3"
                  >Study End date:
                </label>
                <div class="input-group input-group-alternative mb-3 ml-3">
                  <input
                    class="form-control"
                    placeholder="End Date"
                    [min]="startDate"
                    [(ngModel)]="endDate"
                    type="datetime-local"
                  />
                </div>

                <button
                  type="button"
                  (click)="search()"
                  class="btn btn-bg mb-3 ml-3"
                >
                  Filter
                </button>
                <button
                  type="button"
                  (click)="reset()"
                  class="btn btn-bg mb-3 ml-3"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--Event Table-->
        <div class="event-list">
          <app-table
          [canEdit]="canEdit"
            [canDelete]="canDelete"
            [dataSource]="events"
            [columns]="columns"
            (onEdit)="editEvent($event)"
            (onDelete)="deleteEvent($event)"
          ></app-table>
        </div>
      </div>
    </div>
  </div>
</div>
