<h2>{{ data && data.id ? "Edit Invoice" : "Add Invoice" }}</h2>
<form
  class="complaint-form"
  [formGroup]="invoiceForm"
  (ngSubmit)="submitInvoice()"
  #f="ngForm"
>
<div class="form-group mb-3">
  <h6>Customer Name:</h6>
  <div class="input-group input-group-alternative">
    <input
      [readonly]="data && data.customerName"
      class="form-control"
      placeholder="Customer name"
      formControlName="customerName"
      type="text"
    />
  </div>
 
</div>
  <div class="form-group mb-3">
    <h4>Store:</h4>
    <div class="input-group input-group-alternative">
      <mat-select [formControl]="storeName" placeholder="Store" [ngStyle]="{ height: '40px' }">
        <mat-option *ngFor="let elt of store_array_of_name" [value]="elt">{{
          elt
          }}</mat-option>
      </mat-select>
    </div>
 
  </div>
  <div class="form-group mb-3">
    <h4>Campaign Name:</h4>
    <div class="input-group input-group-alternative">
      <mat-select [formControl]="campId" placeholder="Campaign Name" [ngStyle]="{ height: '40px' }">
        <mat-option *ngFor="let elt of camp_array_of_camps" [value]="elt">{{
          elt.name
          }}</mat-option>
      </mat-select>
    </div>
 
  </div>
  <div class="row ">
    <!--Invoice value-->
    <!--Invoice serial-->
    <div class="col-3">
      <div class="form-group mb-3">
        <h4>Serial Number:</h4>
        <div class="input-group input-group-alternative">
          <input class="form-control" placeholder="Serial Number" formControlName="serialNumber" type="number" />
        </div>
      
      </div>
    </div>
    <div class="col-3">
      <div class="form-group mb-3">
        <h4>Amount:</h4>
        <div class="input-group input-group-alternative">
          <input class="form-control" placeholder="Amount QAR" formControlName="amount" type="number" />
        </div>
      
      </div>
    </div>
  </div>
  <!--Label And Overhead invoice-->
    <div class="row ">
      <!--Invoice Label-->
      <!-- <div class="col-6">
        <div class="form-group mb-3">
          <h4>Labels:</h4>
          <div class="input-group input-group-alternative">
            <input class="form-control" placeholder="Label" formControlName="label" type="number"/>
          </div>
        </div>
      </div> -->
      <!--Invoice Overhead-->
      <!-- <div class="col-6">
        <div class="form-group mb-3">
          <h4>Overhead:</h4>
          <div class="input-group input-group-alternative">
            <input class="form-control" placeholder="Overhead" formControlName="overhead" type="number" />
          </div>
        </div>
      </div> -->
  </div>
  <button mat-raised-button type="submit" color="primary">
    {{ data && data.id ? "Edit Invoice" : "Add Invoice" }}
  </button>
</form>