<h2>{{ data ? "Edit Campaign" : "Add Campaign" }}</h2>

<form [formGroup]="campForm" (ngSubmit)="submitCampData()">
  <div class="form-group">
    <h4>Campaigns Name:</h4>
    <div class="input-group input-group-alternative mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text"></span>
      </div>
      <input
        class="form-control"
        formControlName="name"
        placeholder="Name"
        type="text"
      />
    </div>
    <small
      class="p-error error-text"
      *ngIf="
      campForm.controls.name.invalid &&
      campForm.controls.name.touched
      "
      >Campaigns Name is required.</small
    >
  </div>
  <div class="form-group mb-3">
    <h4>Active:</h4>
    <div class="input-group input-group-alternative">
      <mat-select
        [formControl]="campStatus"
        placeholder="Status"
        [ngStyle]="{ height: '40px' }"
      >
        <mat-option *ngFor="let elt of campArray" [value]="elt">{{
          elt
        }}</mat-option>
      </mat-select>
    </div>
    <small
      class="p-error error-text"
      *ngIf="
        campForm.controls.campStatus.invalid &&
        campForm.controls.campStatus.touched
      "
      >Status is required.</small
    >
  </div>
  <div class="form-group mb-3">
    <h4>Sales Variable:</h4>
    <div class="input-group input-group-alternative">
      <input class="form-control" placeholder="Sales Variable" formControlName="alfa" type="number" />
    </div>
    <small
      class="p-error error-text"
      *ngIf="
        campForm.controls.alfa.invalid &&
        campForm.controls.alfa.touched
      "
      >Alfa Sales is required.</small
    >
  </div>
  <button mat-raised-button type="submit" color="primary">
    {{ data ? "Edit" : "Add" }} Campaign
  </button>
</form>
