.brand {
  img {
    width: 100%;
    height: auto;
  }
}
.title {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 30px;
}

.btn-bg{
  color: #f05023;
  background-color: white;
}
